body
{
  color: rgb(255, 255, 255);
  background: #ffc0ff;
}
span
{
  font-size: 30px;
}
#camera , #result
{
  border: 2px dashed rgb(33, 14, 110);
  width: 350px;
  height: 300px; 
}
#result_gesture_name ,#result_gesture_name2  
{
  color: rgb(82, 45, 97);
}
.emotion_name
{
  font-size: 40px;
}
.emoji
{
  font-size:48px;
}
.heading {
  font-size: 18px;
  border-radius: 10px;
  letter-spacing:10px;
} 

.divTag{
  margin:20px;
  font-size:20px;
  background-color:#79C7F9;
  color:white;
  border:10px solid #D8DADC;
  width:400px;
  padding:20px;
  border-radius:30px;
  box-shadow:5px 5px 8px grey;
}